body {
  padding: 20px;
  font: 11px "Arial, sans-serif;
}

body .colors-column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .colors-column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}

body .add-color-col input {
  margin-bottom: 2px;
}

body .colors-column .color-display-ele {
  padding-bottom: 2px;
}

body .colors-column .color-display-ele button {
  margin-top: 2px;
  margin-bottom: 2px;
}

body .colors-column .color-display-ele .edit-view {
  display: none;
}
